<div class="container event">
    <div class="row">
        <div class="col-lg-12">
            <h3>{{event.title}}</h3>
            <div class="well">
                <form class="form-horizontal">
                    <legend>Event</legend>
                    <fieldset>
                        <!-- title -->
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input id="title" class="form-control" type="text" ng-model=event['title'] />
                            </div>
                        </div>
                        <!-- location -->
                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label">Location</label>
                            <div class="col-sm-10">
                                <select id="location" class="form-control" ng-model="event['location']">
                                    <option ng-repeat="location in locations">{{location.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- start_time -->
                        <div class="form-group">
                            <label id="start_time_label" for="start_time" class="col-sm-2 control-label">Start</label>
                            <div class="col-sm-10">
                                <a class="dropdown-toggle" id="start_time_dropdown" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group"><input id="start_time" type="text" class="form-control" data-ng-model="event['start_time']">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="start_time_label">
                                    <datetimepicker ng-change="setDay()" data-ng-model="event['start_time']" data-datetimepicker-config="{ dropdownSelector: '#start_time_dropdown' }"/>
                                </ul>
                            </div>
                        </div>
                        <!-- end_time -->
                        <div class="form-group">
                            <label id="end_time_label" for="end_time" class="col-sm-2 control-label">End</label>
                            <div class="col-sm-10">
                                <a class="dropdown-toggle" id="end_time_dropdown" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group"><input id="end_time" type="text" class="form-control" data-ng-model="event['end_time']">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="end_time_label">
                                    <datetimepicker data-ng-model="event['end_time']" data-datetimepicker-config="{ dropdownSelector: '#end_time_dropdown' }"/>
                                </ul>
                            </div>
                        </div>
                        <!-- day -->
                        <div class="form-group">
                            <label for="day" class="col-sm-2 control-label">Day</label>
                            <div class="col-sm-10">
                                <select id="day" class="form-control" ng-model="event['day']">
                                    <option ng-repeat="day in weekdays">{{day}}</option>
                                </select>
                                <span class="help-block">This field is updated automatically when the start date above changes.</span>
                            </div>
                        </div>
                        <!-- description -->
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea id="description" class="form-control" rows="3" ng-model=event['description']></textarea>
                            </div>
                        </div>
                        <!-- bar_camp -->
                        <div class="form-group">
                            <label for="bar_camp" class="col-sm-2 control-label">Highlighted</label>
                            <div class="col-sm-10">
                                <div class="checkbox-inline">
                                    <input id="bar_camp" type="checkbox" ng-model="event['bar_camp']" />
                                </div>
                            </div>
                        </div>
                        <!-- image_url -->
                        <div class="form-group">
                            <label for="image_url" class="col-sm-2 control-label">Image URL</label>
                            <div class="{{event['image_url'] ? 'col-sm-6' : 'col-sm-10'}}">
                                <input id="image_url" class="form-control" type="text" ng-model=event['image_url'] />
                            </div>
                            <img class="col-sm-4 image-preview" ng-show="event['image_url']" ng-src="{{event['image_url']}}">
                        </div>
                    </fieldset>
                    <legend>Speaker 1</legend>
                    <fieldset>
                        <!-- artists -->
                        <div class="form-group">
                            <label for="artists" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input id="artists" class="form-control" type="text" ng-model=event['artists'] />
                            </div>
                        </div>
                        <!-- speaker_role -->
                        <div class="form-group">
                            <label for="speaker_role" class="col-sm-2 control-label">Role</label>
                            <div class="col-sm-10">
                                <input id="speaker_role" class="form-control" type="text" ng-model=event['speaker_role'] />
                            </div>
                        </div>
                        <!-- speaker_image_url -->
                        <div class="form-group">
                            <label for="speaker_image_url" class="col-sm-2 control-label">Image URL</label>
                            <div class="col-sm-10">
                                <input id="speaker_image_url" class="form-control" type="text" ng-model=event['speaker_image_url'] />
                            </div>
                        </div>
                        <!-- twitter_handle -->
                        <div class="form-group">
                            <label for="twitter_handle" class="col-sm-2 control-label">Twitter handle</label>
                            <div class="col-sm-10">
                                <input id="twitter_handle" class="form-control" type="text" ng-model=event['twitter_handle'] />
                            </div>
                        </div>
                        <!-- linkedin_url -->
                        <div class="form-group">
                            <label for="linkedin_url" class="col-sm-2 control-label">Linkedin URL</label>
                            <div class="col-sm-10">
                                <input id="linkedin_url" class="form-control" type="text" ng-model=event['linkedin_url'] />
                            </div>
                        </div>
                    </fieldset>
                    <legend>Speaker 2</legend>
                    <fieldset>
                        <!-- artists_2 -->
                        <div class="form-group">
                            <label for="artists_2" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input id="artists_2" class="form-control" type="text" ng-model=event['artists_2'] />
                            </div>
                        </div>
                        <!-- speaker_role_2 -->
                        <div class="form-group">
                            <label for="speaker_role_2" class="col-sm-2 control-label">Role</label>
                            <div class="col-sm-10">
                                <input id="speaker_role_2" class="form-control" type="text" ng-model=event['speaker_role_2'] />
                            </div>
                        </div>
                        <!-- speaker_image_url_2 -->
                        <div class="form-group">
                            <label for="speaker_image_url_2" class="col-sm-2 control-label">Image URL</label>
                            <div class="col-sm-10">
                                <input id="speaker_image_url_2" class="form-control" type="text" ng-model=event['speaker_image_url_2'] />
                            </div>
                        </div>
                        <!-- twitter_handle_2 -->
                        <div class="form-group">
                            <label for="twitter_handle_2" class="col-sm-2 control-label">Twitter handle</label>
                            <div class="col-sm-10">
                                <input id="twitter_handle_2" class="form-control" type="text" ng-model=event['twitter_handle_2'] />
                            </div>
                        </div>
                        <!-- linkedin_url_2 -->
                        <div class="form-group">
                            <label for="linkedin_url" class="col-sm-2 control-label">Linkedin URL</label>
                            <div class="col-sm-10">
                                <input id="linkedin_url_2" class="form-control" type="text" ng-model=event['linkedin_url_2'] />
                            </div>
                        </div>
                    </fieldset>
                    <legend>Speaker 3</legend>
                    <fieldset>
                        <!-- artists_3 -->
                        <div class="form-group">
                            <label for="artists_3" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input id="artists_3" class="form-control" type="text" ng-model=event['artists_3'] />
                            </div>
                        </div>
                        <!-- speaker_role_3 -->
                        <div class="form-group">
                            <label for="speaker_role_3" class="col-sm-2 control-label">Role</label>
                            <div class="col-sm-10">
                                <input id="speaker_role_3" class="form-control" type="text" ng-model=event['speaker_role_3'] />
                            </div>
                        </div>
                        <!-- speaker_image_url_3 -->
                        <div class="form-group">
                            <label for="speaker_image_url_3" class="col-sm-2 control-label">Image URL</label>
                            <div class="col-sm-10">
                                <input id="speaker_image_url_3" class="form-control" type="text" ng-model=event['speaker_image_url_3'] />
                            </div>
                        </div>
                        <!-- twitter_handle_3 -->
                        <div class="form-group">
                            <label for="twitter_handle_3" class="col-sm-2 control-label">Twitter handle</label>
                            <div class="col-sm-10">
                                <input id="twitter_handle_3" class="form-control" type="text" ng-model=event['twitter_handle_3'] />
                            </div>
                        </div>
                        <!-- linkedin_url_3 -->
                        <div class="form-group">
                            <label for="linkedin_url_3" class="col-sm-2 control-label">Linkedin URL</label>
                            <div class="col-sm-10">
                                <input id="linkedin_url_3" class="form-control" type="text" ng-model=event['linkedin_url_3'] />
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-submit">
                        <div>
                            <button type="submit" class="btn btn-primary" value="Save" ng-click="saveEvent()">Save</button>
                            <button class="btn btn-info" value="Cancel" ng-click="closeEvent()">Cancel</button>
                        </div>
                        <span class="submit-error {{errorClass}}">{{errorMessage}}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Raw JSON</div>
        <div class="panel-body">
            <pre><code>{{event | json}}</code></pre>
        </div>
    </div>
</div>
