<div class="container">
    <div class="listing">
        <input type="text" placeholder="New info item title here" ng-model="createInfoTitle.title"/>
        <input type="button" class="btn btn-success" value="Create new" ng-click="createInfo()" />
    </div>
    <hr />
    <table class="listing">
        <tr ng-repeat="infoItem in infos" class="infoPick">
            <td><input type="button" value="Delete" class="btn btn-danger btn-sm" ng-click="deleteInfo(infoItem._id)"/></td>
            <td><a href="#/infoItem/{{infoItem._id}}">{{infoItem.title | title}}</a></td>
        </tr>
    </table>
</div>
