<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>{{infoItem.title}}</h3>
            <div class="well">
                <form class="form-horizontal">
                    <legend>Info</legend>
                    <fieldset>
                        <!-- title -->
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input id="title" class="form-control" type="text" ng-model=infoItem['title'] />
                            </div>
                        </div>
                        <!-- image_url -->
                        <div class="form-group">
                            <label for="image" class="col-sm-2 control-label">Image URL</label>
                            <div class="{{infoItem['image'] ? 'col-sm-6' : 'col-sm-10'}}">
                                <input id="image" class="form-control" type="text" ng-model=infoItem['image'] />
                            </div>
                            <img class="col-sm-4 image-preview" ng-show="infoItem['image']" ng-src="{{infoItem['image']}}">
                        </div>
                        <!-- content -->
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">Content</label>
                            <div class="col-sm-10">
                                <textarea id="content" class="form-control" rows="3" ng-model=infoItem['content']></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-submit">
                        <div>
                            <button type="submit" class="btn btn-primary" value="Save" ng-click="saveInfo()">Save</button>
                            <button class="btn btn-info" value="Cancel" ng-click="closeInfo()">Cancel</button>
                        </div>
                        <span class="submit-error {{errorClass}}">{{errorMessage}}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Raw JSON</div>
        <div class="panel-body">
            <pre><code>{{infoItem | json}}</code></pre>
        </div>
    </div>
</div>
