<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>{{location.name}}</h3>
            <div class="well">
                <form class="form-horizontal">
                    <legend>Location</legend>
                    <fieldset>
                        <!-- name -->
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input id="name" class="form-control" type="text" ng-model=location['name'] />
                            </div>
                        </div>
                        <!-- x -->
                        <div class="form-group">
                            <label for="x" class="col-sm-2 control-label">X</label>
                            <div class="col-sm-10">
                                <input id="x" class="form-control" type="text" ng-model=location['x'] />
                            </div>
                        </div>
                        <!-- y -->
                        <div class="form-group">
                            <label for="y" class="col-sm-2 control-label">Y</label>
                            <div class="col-sm-10">
                                <input id="y" class="form-control" type="text" ng-model=location['y'] />
                            </div>
                        </div>
                        <!-- width -->
                        <div class="form-group">
                            <label for="width" class="col-sm-2 control-label">Width</label>
                            <div class="col-sm-10">
                                <input id="width" class="form-control" type="text" ng-model=location['width'] />
                            </div>
                        </div>
                        <!-- height -->
                        <div class="form-group">
                            <label for="height" class="col-sm-2 control-label">Height</label>
                            <div class="col-sm-10">
                                <input id="height" class="form-control" type="text" ng-model=location['height'] />
                            </div>
                        </div>
                        <!-- type -->
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <input id="type" class="form-control" type="text" ng-model=location['type'] />
                            </div>
                        </div>
                        <!-- description -->
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea id="description" class="form-control" rows="3" ng-model=location['description']></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-submit">
                        <div>
                            <button type="submit" class="btn btn-primary" value="Save" ng-click="saveLocation()">Save</button>
                            <button class="btn btn-info" value="Cancel" ng-click="closeLocation()">Cancel</button>
                        </div>
                        <span class="submit-error {{errorClass}}">{{errorMessage}}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Raw JSON</div>
        <div class="panel-body">
            <pre><code>{{location | json}}</code></pre>
        </div>
    </div>
</div>
