/* app css stylesheet */

.menu {
  list-style: none;
/*  border-bottom: 0.1em solid black;*/
  margin-bottom: 2em;
  padding: 1em;
  background-color: #06121F;
}

.menu > li {
  display: inline;
    font-size: 2em;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

div.listing input[type="text"] {
    width: 19em;
}

.artist {
    padding: 20px;
}

.artist img {
    width: 100px;
    height: 100px;
}

.artistPick {
    padding: 20px;
}

.artistPick img {
    width: 100px;
    height: 100px;
}

table {
    margin-top: 20px;
}

table tr td img {
    max-width: 50px;
    max-height: 50px;
}

div.json {
    padding-top: 4em;
}

textarea.json {
    width:600px;
    height:200px;
    border:1px solid #000000;
    background-color:#CCCCCC;
}

p.formSubmit {
    padding-top: 1em;
}

pre {
    border: none;
    background: none;
}

.image-preview {
    max-width: 100%;
}

.submit-error {
    color: #e51c23;
    margin-left: 1em;
}

@media (max-width: 767px) {
    .image-preview {
        margin: 0.5em 0;
    }
}

@media (max-width: 991px) {
    .container {
        width: auto;
    }
}
